In [1]:
import pandas as pd

In [2]:
df=pd.read_excel(r"C:\Users\oguzhan.guclu\Desktop\Data (37).xlsx",skiprows=2)

In [3]:
df1=df[["Date","MusteriNo","Ciro"]]
df1["Date2"]=df1["Date"]
df1["SiparisNo"]=list(range(1,len(df1.Ciro)+1))

C:\Users\oguzhan.guclu\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\oguzhan.guclu\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
df_RFM=df1.groupby("MusteriNo").agg({"Date": lambda y: (df1["Date"].max().date() - y.max().date()).days,
                                   "SiparisNo": lambda y: len(y.unique()),
                                   "Ciro": lambda y:round(y.sum(),2)})

In [15]:
df_RFM.columns=["Recency","Frequency","Monetary"]

In [17]:
df_RFM.sort_values("Frequency",ascending=False)

           Recency  Frequency  Monetary
MusteriNo
M018481         92        379   8120.64
M0086QE          0        227  28505.38
M510952          5        131  12112.42
M0163PA          0        131   4641.77
M220085         14        125   6192.29
...            ...        ...       ...
M1455W5         65          1     16.57
M1455W8        140          1      4.40
M1455XT        140          1      4.40
M1455Z9        118          1     12.03
M1643ZF         58          1     20.32

[79905 rows x 3 columns]

In [9]:
Hasandf=pd.read_csv(r"C:\Users\oguzhan.guclu\Desktop\rfm.csv")

In [13]:
df_RFM[df_RFM.index=="M000008"]

           Date  SiparisNo   Ciro
MusteriNo
M000008      16          5  70.05

In [13]:
df_RFM["Recency"]

MusteriNo
M000008     16
M000009     28
M00000C      2
M000011     26
M000013    250
          ...
M999062    165
M999142    138
M999170     74
M999301      4
M999999     27
Name: Recency, Length: 79905, dtype: int64